.reg_page{
    height:600px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:darkseagreen
}
.form-reg{
    margin-top: 100px;
}
#name,#phone,#email,#password,#state,#district,#address,#pincode{
    border:0px;
    border-bottom:1px solid black;
}
.division{
    display:flex;
    flex-flow: row;
}